//config
$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #203240;
$secondary-color: #ee3123;


// set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color)
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
  color: $light-color;
  margin: 0px;
}

a {
  text-decoration: none;
}

.showcase {
  @include set-background($primary-color);
  height: 100vh;

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
      color: $light-color;
    }
  }
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}

// buttons
.button {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  width:150px;
  height:40px;
  background-color: $secondary-color;
  color: $light-color;
  font-size: 15px;

  &:hover {
    transform: scale(.98);
  }
}

// mobile
@media only screen and (max-width: 1000px) {
  .showcase {
    display: flex;
    flex-wrap: wrap;

    &-content {
      text-align: center;

      img {
        display: none;
      }
    }
  }
  .button {
    display: block;
    margin: auto;
    margin-top: 5px;
  }
}

:root {
  --modal-duration: 1s;
  
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: $secondary-color;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
  color: $primary-color;
}

.modal-footer {
  background: $secondary-color;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close, .close1 {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
  position: relative;
  bottom: 5px;
}

.close:hover, .close1:hover,
.close:focus, .close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

